body {
    display: flex;
    font-weight: bold;
}

.btn-primary {
    
    background-color: #e83e8c;
    border-color: #e83e8c;
}

.list-group-item.active{
    background-color: #e83e8c;
    border-color: #e83e8c;
}

option {
    color: #e83e8c;
    border-color: #e83e8c;
    font-weight: bold;
}
.pinky{
    color: #e83e8c;
    border-color: #e83e8c;
    font-weight: bold;
}



.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-alert button {
    background-color: #f5c6cb;
    color: #721c24;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

.custom-alert button:hover {
    background-color: #f1b0b7;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: bottom;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }